*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 120rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0 auto;
}

/* ---------------- NAVIGATION ---------------- */

.nav {
  background-color: #1e2939;
}

.nav__list {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
}

.nav__item--link {
  padding: 0 2rem;
  line-height: 5rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.nav__item--link:hover {
  color: #ff6b08;
}

/* ---------------- SIDES ---------------- */

.sides {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.left-side {
  max-width: 40rem;
  background-color: #1e2939;
  color: #fff;
}

.right-side {
  max-width: 80rem;
  background-color: #fff;
  color: #2a2a2a;
  padding: 6rem 8rem;
}

/* ---------------- LEFT SIDE ---------------- */

.photo {
  width: 40rem;
  margin-bottom: 3rem;
}

.contacts,
.skills,
.languages {
  padding-left: 4rem;
  margin-bottom: 6rem;
}

.contacts__title,
.skills__title,
.languages__title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: normal;
  margin: 2rem 0;
}

.contacts__list,
.skills__list,
.languages__list {
  list-style: none;
  padding-left: 0;
}

.contacts__list--item,
.skills__list--item,
.languages__list--item {
  font-weight: 400;
  line-height: 2.4rem;
}

.skills__list--item::before,
.languages__list--item::before {
  content: '\2022';
  margin-right: 0.8rem;
  color: #ff6b08;
  font-size: 1.8rem;
}

.contacts__list--link,
.languages__list--link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.contacts__list--link:hover,
.languages__list--link:hover {
  color: #ff6b08;
}
/* ---------------- RIGHT SIDE ---------------- */

.bio,
.projects,
.code {
  line-height: 2.4rem;
  margin-bottom: 6rem;
  padding-right: 10rem;
}

.bio__title {
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: normal;
  margin: 2rem 0;
}

.bio__occupation {
  font-size: 1.8rem;
  margin: 4.8rem 0;
}

.projects__title,
.code__title,
.education__title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: normal;
  margin: 2rem 0;
}

.projects__list,
.education__list {
  list-style: none;
}

.education__list--item {
  font-weight: 700;
  padding: 1rem 0;
}

.projects__list--item::before {
  content: '\2022';
  margin-right: 0.8rem;
  color: #ff6b08;
  font-size: 1.8rem;
}

.projects__list--link,
.education__list--link {
  display: inline-block;
  text-decoration: none;
  color: #2a2a2a;
  line-height: 2.4rem;
  transition: all 0.3s;
}

.projects__list--link:hover,
.education__list--link:hover {
  transform: scale(1.05);
  color: #ff6b08;
}

.education__list--time {
  font-weight: 400;
}

.accent {
  color: #ff6b08;
}

.education__list--time {
  font-style: italic;
}

.code__example {
  background-color: #dddddd;
  padding: 3rem;
  border-radius: 1rem;
}

/* ---------------- FOOTER ---------------- */

.footer {
  background-color: #354966;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}

.github {
  width: 9rem;
  height: 2rem;
  background-image: url('./assets/svg/github.svg');
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(1);
}

.rss {
  width: 9rem;
  height: 2.5rem;
  background-image: url('./assets/svg/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
